*{
  margin: 0;
  padding: 0;
}



body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

li{
  list-style: none;
}

.noOutline{
  outline: none;
}

@import'ror_basics';

//variables

//tipos de letra 

//otros