*{
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  min-height: 100vh;
}

.logoDev {
  width: 50px;
  height: 40px;
}
.user__photo{
  width: 7vw;
}


.noOutline{
  outline: none;
}

//variables

//tipos de letra 

//otros