

@media only screen and (min-width:992px) {
  .nav__buttons--left{
    width: 60vw;
  }
  .nav__buttons--rigth{
    width: 30vw;
  }
  
  .mongo__img{
    cursor: pointer;
  }
  .header__nav--btn:hover{
    color: white;
  }
  .header__nav--btn:hover{
    color: white !important;
  }
}