

.main__section--search{
  .row{
    width: 95%;
  }
}


.section__search--buscar{
 border: 1px solid #ddd;
 border-radius: 5px;
 background-color: white;
}

.section__search--input{
  width: 90%;
  margin: 2%;
  border: none;
  outline: none;
  padding: 1%;
}


.section__search--buscar:hover{
 border: 1px solid gray;
}
.section__search--buscar:focus-within{
  border: 2px solid blue;
}

.main__section--ul{
width: max-content;
overflow-x: auto;
scroll-behavior: smooth;
}

.section__search--icon{
  font-size: 30px;
}

.section__search--btn:hover{
 color: blue;
 background-color: white;
}

.section__nav--menu{
  margin-left: 2%;
}