
@media only screen and (min-width:768px) {
@import'ror_tablet';

  .nav__buttons--left{
    width: 60vw;
  }
  .nav__buttons--rigth{
    width: 30vw;
  }

  .main__content--data{
    padding-left: 8%;
  }
  .card__bottom--text{
    font-size: 10px;
  }
  .header__nav--btn:hover{
    color: white !important;
  }
  .offcanvas-body{
    width: 80%;
    height: 100vh;
    margin-left: -5%;
    border: none;
  }
  .offcanvas-body li{
    width: 100%;
    height: 40px;
    border: none;
  }
  .aside-icons{
    width: 80%;
    height: 10vh;
    margin-left: 5%;
  }
  .aside-icons img{
    width: 50px;
    height: 25px;
  }
  .offcanvas-subtitle{
    width: 100%;
    height: 5vh;
    margin-left: 10%;
    margin-bottom: 5%;
    font-weight: bolder;
  }
  .offcanvas-list a{
    text-decoration: none;
    color: black;
  }
  .offcanvas-list li{
    list-style: none;
  }



  #aside-list{
    text-align: left;
    li{
      width: 80%;
      height: 40px;
    }
  }

  .aside-section-tags{
    width: 80%;
    margin-top: 5%;
    margin-bottom: 45%;
    h5{
      text-align: left;
      width: 50%;
      margin-left: 5%;
    }
    img{
      width:50px;
      height: 25px;
    }
  }
  .aside-section-cards{
    width: 70%;
    margin: 5%;
    height: auto;
    text-align: left;
    a{
      font-weight: 700;
    }
    img{
      width: 100%;
      height: 45%;
    }
  }
  #footer{
    padding-top: 500px;
    width: 100%;
    position: absolute;
    margin: auto;
    a{
      text-decoration: none;
    }
    .footer__body{
      background-color: #d6d6d7;
      line-height: 2.0;
    }
  }


}