
@media only screen and (min-width:768px) {

  .nav__buttons--left{
    width: 60vw;
  }
  .nav__buttons--rigth{
    width: 30vw;
  }

  .main__content--data{
    padding-left: 8%;
  }
  .card__bottom--text{
    font-size: 10px;
  }
  .header__nav--btn:hover{
    color: white !important;
  }
}