
@media only screen and (min-width:768px) {

  .nav__buttons--left{
    width: 60vw;
  }
  .nav__buttons--rigth{
    width: 30vw;
  }
  .offcanvas-body{
    width: 100%;
    height: 150vh;
    margin-left: -5%;
  }
  .offcanvas-body li{
    width: 100%;
    height: 40px;
  }
  .aside-icons{
    width: 100%;
    height: 10vh;
    margin-left: 5%;
  }
  .aside-icons img{
    width: 50px;
    height: 25px;
  }
  .offcanvas-subtitle{
    width: 100%;
    height: 5vh;
    margin-left: 10%;
    margin-bottom: 5%;
    font-weight: bolder;
  }
  .offcanvas-list a{
    text-decoration: none;
    color: black;
  }
  .offcanvas-list li{
    list-style: none;
  }
  #aside-list{
    text-align: left;
    li{
      width: 100%;
      height: 40px;
    }
  }
  .aside-section-tags{
    width: 100%;
    margin-top: 5%;
    margin-bottom: 45%;
    h5{
      text-align: left;
      width: 50%;
      margin-left: 5%;
    }
    img{
      width:50px;
      height: 25px;
    }
  }
  .aside-section-cards{
    margin: 7.5%;
    text-align: left;
    a{
      font-weight: 700;
    }
  }
}